<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
</head>
<body background="/img/111.jpg">

<form action="#" th:action="@{/car-create}" th:object="${car}" method="post">
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="Model">
    <label for="modefication">Modefication</label>
    <input type="text" th:field="*{modefication}" id="modefication" placeholder="Modefication">
    <label for="color">Color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="Color">
    <input type="submit" value="Create Car">
</form>
</body>
</html>